.home-container {
    padding: 20px;
  }
  
  .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center videos horizontally on larger screens */
  }
  
  @media (max-width: 768px) {
    .video-container {
      flex-direction: column; /* Stack videos vertically on smaller screens */
      align-items: center; /* Center videos horizontally on smaller screens */
    }
  }
  